header img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

header img {
  margin-right: auto;
  margin-left: 10px;
}

header {
  background-color: white;
  border-radius: 0 0 20px 20px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

aside::-webkit-scrollbar {
  width: 0;
}

header a {
  margin: 0 10px 0 0;
}

aside {
  grid-area: aside;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 110px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  /* height: 400px; */
  align-items: flex-start;
  flex-direction: column;
  /* height: 90vh !important; */
  height: fit-content;
  /* max-height: calc(100vh - 170px); */
  max-height: 100vh;
  position: sticky;
  top: 10px;
  overflow-y: scroll;
}

aside li {
  width: 100%;
  margin: 5px 0 5px 0;
}

main {
  grid-area: main;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: stretch; */
  padding-left: 5px;
  padding-top: 20px;
  border-radius: 20px;
}

/* ТУТ КАКАЯ-ТО ХУЙНЯ  */

main div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto, 100px); */
  /* flex-shrink: 2; */
}

/* ТУТ КАКАЯ-ТО ХУЙНЯ */

/* main div .card {
  flex-grow: 1; */
/* flex-shrink: 0; */
/* flex-basis: 1;
} */

footer {
  grid-area: footer;
  background-color: white;
  border-radius: 20px 20px 0 0;
  /* margin-left: 10px; */
}

@media screen and (max-width: 900px) {
  body {
    background-color: #f7f7f7;
    display: grid;
    grid-template-areas:
      "header  header"
      "main main"
      "footer footer";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 230px 1fr;
  }
  aside {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: #f7f7f7;
    display: grid;
    grid-template-areas:
      "header  header"
      "aside main"
      "footer footer";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 230px 1fr;
  }
}
/* article img {
} */

.card {
  /* width: 176px; */
  /* height: 200px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 1; */
  margin: 5px 5px 5px 0;
  padding: 1px;
  background-color: #f7f7f7;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  /* display: inline-block; */
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: 1s;
}

.card text {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  font-size: 20px;
}

.card img:hover {
  transform: scale(1.05);
}
/* 
aside a::after {
  display: none;
}

aside a::before {
  display: block;
} */

/* li {
  display: block;
  margin: 0;
  padding: 0;
} */

.unordList {
  margin: 0 0 0 15px;
  padding: 0;
}

.unordList > li > ul {
  margin: 0 0 0 20px;
  padding: 0;
}

/* li {
  text-decoration: none;
  color: black;
} */

li {
  list-style-type: none;
}

ul > li > ul {
  display: none;
}

ul > li {
  margin: 10px 0 10px 0;
}

footer > h4 {
  margin: 0;
  padding: 10px 0 5px 10px;
}

li img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
